{% extends 'landingpage/index.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <!-- Votre contenu HTML ici -->

    <section class="contact-form-section" id="contact-form-section">
        <div class="container-fluid mt-5" style="background-color: #26272b; color: #fff; padding: 20px;">
            <h1>Contact Us</h1>
            <form action="{{ path('app_contact') }}" method="post">
                {{ form(form) }}
                <div class="text-end">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    </section>
{% endblock %}
