<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link href="{{ asset('css/signin.css') }}" rel="stylesheet">
</head>
<body>
<img src="{{ asset('Landing Page/src/logo-insat.png') }}" alt="logo lfac" class="logo-fac">
<h1>Good to see you again!</h1>

<form id="msform" action="{{ path('authenticate') }}" method="post">
    <fieldset>
        <h2 class="fs-title">Log in</h2>
        <label for="email" class="form-label">Email:</label>
        <input type="text" id="email" name="email" placeholder="demo@insat.com"/>
        <label for="password" class="form-label">Password:</label>
        <input type="password" id="password" name="password" placeholder="demo1234"/>

        <!-- Display error message if exists -->
        {% if app.session.get('error') is not null %}
            <div class="error-message">{{ app.session.get('error') }}</div>
            {% set _ = app.session.remove('error') %}
        {% endif %}

        <input type="submit" name="next" class="next action-button" value="Sign in" />
    </fieldset>
</form>
</body>
</html>